
<center><h1>LISTADO CRIPTOMONEDAS</h1></center>


<div class="table-responsive"> 

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Símbolo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      
      <th scope="col">%_cambio_1h</th>
      <th scope="col">%_cambio_24h</th>
      <th scope="col">%_cambio_7d</th>
     
      
     

    </tr>
  </thead>
  <tbody>
  	<% for x in @coins %>

    <tr>
      <th scope="row"><%= x["symbol"] %></th>
      <td><%= x["name"] %></td>
      <td><%= number_to_currency(x["quote"]["USD"]["price"]) %></td>
      
      <td><%= number_with_precision(x["quote"]["USD"]["percent_change_1h"], :precision=>2) %>%</td>
      <td><%= number_with_precision(x["quote"]["USD"]["percent_change_24h"], :precision=>2) %>%</td>
      <td><%= number_with_precision(x["quote"]["USD"]["percent_change_7d"], :precision=>2) %>%</td>
      
      
      
    </tr>
    <% end %>
  </tbody>
</table>
</div>
